body {
  background-color: #FFFFFF;
  /* Fundo branco */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  /* Texto cinza escuro para leitura confortável */
}

h2 {
  color: #333333;
  /* Título em cinza escuro */
  margin-bottom: 20px;
}

.login-form-wrap {
  background: #EBF5FB;
  /* Fundo azul muito claro para destaques */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  padding: 40px;
  width: 90%;
  max-width: 400px;
}

input[type="email"],
input[type="password"] {
  background: #fff;
  border: 2px solid #ddd;
  /* Mantendo a borda dos inputs */
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 12px;
  width: calc(100% - 24px);
}

.btn-login {
  background-color: #4A90E2;
  /* Botão primário azul claro */
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #32C5FF;
  cursor: pointer;
  /* Botão secundário azul ciano ao passar o mouse */
}

.notas-page {
  background-color: #EBF5FB;
  /* Fundo azul muito claro para destaques */
  padding: 40px;
  text-align: center;
}

.notas-title {
  color: #333333;
  /* Título em cinza escuro */
  margin-bottom: 20px;
}

.nota {
  background-color: #FFFFFF;
  /* Fundo branco para cada nota */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;
}

.nota-content {
  color: #666666;
  /* Texto em cinza médio */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-pencil-alt {
  color: #afafaf;
  margin-right: 10px;
  margin-left: 30px;
  cursor: pointer;
}

.fa-trash {
  cursor: pointer;
  margin-left: 10px;
  color: #c61a2e;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #efefef;
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.modal h4 {
  color: #D0021B;
}

.modal p {
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

.modal button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.modal .btn-cancelar {
  background-color: #cccccc;
  color: #333;
  font-weight: bold;
}

.modal .btn-excluir {
  background-color: #ff4444;
  /* Cor vermelha para a ação de exclusão */
  color: #fff;
  font-weight: bold;
}

.modal .btn-cancelar:hover {
  background-color: #bbbbbb;
}

.modal .btn-excluir:hover {
  background-color: #cc0000;
  /* Um vermelho mais escuro para o hover */
}

.icones-notas {
  display: flex;
  justify-content: center;
}

.error-message {
  color: #D0021B;
  /* Mensagens de erro em vermelho */
}

.btn-nova-nota {
  background-color: #4A90E2;
  /* ou qualquer outra cor */
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  width: auto;
  /* ou uma largura específica */
  max-width: 200px;
  /* ou a largura máxima desejada */
  display: block;
  /* para que o margin:auto funcione */
  margin: 20px auto;
  /* isso adiciona uma margem superior e inferior de 20px e centraliza horizontalmente */
  transition: background-color 0.3s;
}

.btn-nova-nota:hover {
  background-color: #32C5FF;
  cursor: pointer;
}