body {
  background-color: #FFFFFF;
  /* Fundo branco */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  /* Texto cinza escuro para leitura confortável */
}

h2 {
  color: #333333;
  /* Título em cinza escuro */
  margin-bottom: 20px;
}

.login-form-wrap {
  background: #EBF5FB;
  /* Fundo azul muito claro para destaques */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  padding: 40px;
  width: 90%;
  max-width: 400px;
}

input[type="email"],
input[type="password"] {
  background: #fff;
  border: 2px solid #ddd;
  /* Mantendo a borda dos inputs */
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 12px;
  width: calc(100% - 24px);
}

.btn-login {
  background-color: #4A90E2;
  /* Botão primário azul claro */
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #32C5FF;
  cursor: pointer;
  /* Botão secundário azul ciano ao passar o mouse */
}

.notas-page {
  background-color: #EBF5FB;
  /* Fundo azul muito claro para destaques */
  padding: 40px;
  text-align: center;
}

.notas-title {
  color: #333333;
  /* Título em cinza escuro */
  margin-bottom: 20px;
}

.nota {
  background-color: #FFFFFF;
  /* Fundo branco para cada nota */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;
}

.nota-content {
  color: #666666;
  /* Texto em cinza médio */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-pencil-alt {
  margin-right: 10px;
  margin-left: 30px;
}

.error-message {
  color: #D0021B;
  /* Mensagens de erro em vermelho */
}

.btn-nova-nota {
  background-color: #4A90E2;
  /* ou qualquer outra cor */
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  width: auto;
  /* ou uma largura específica */
  max-width: 200px;
  /* ou a largura máxima desejada */
  display: block;
  /* para que o margin:auto funcione */
  margin: 20px auto;
  /* isso adiciona uma margem superior e inferior de 20px e centraliza horizontalmente */
  transition: background-color 0.3s;
}

.btn-nova-nota:hover {
  background-color: #32C5FF;
  cursor: pointer;
}